body{
	
}

#topSection{
	background: #F8F8F8;
	border-bottom: 1px solid #BDBDBD;
	height: 4em;
}

#midSection{
	padding:1em;
	background: #FFFFFF;
	min-height: 20em;
}

#footerSection{
	height:3em;
	border-top: 1px solid #433C61;
	background: #F8F8F8;
}

.formBox{
	background: #F8F8F8;
	border: 1px solid #00A5D5;
	padding: 1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.logo{
	width:300px;
	padding:1em;
}

#content{
	background: #FFFFFF;
}

.tmItems{
	float:left;
	list-style: none;
	font-weight: bold;
	margin: 2em .3em 0em .3em;
		
}

.tmItems.first{
	border:0;
}

#pagi{
	margin-right: 1em;
}

#lastTrans{
	display: none;
}

table{
	border-collapse:collapse;
}

#msgArea{
	height:3em;
}

#yodleeImport{
	display: none;
}

#yodleeResults{

	display:none;
}

.red{
	color:#BF0000;
}

.green{
	color:#00BF03;
}